@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./font/SEGA.woff') format('woff');
}

h1 {
  font-family: 'SEGA LOGO FONT';
  color: #0ccac4;
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.1em;
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}